<app-menu />
<div class="slideToggle">
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
</div>
<app-form-field-error-example />
<app-data-binding />

<button (click)="solicitarInfo()"> Solicitar nome </button>
<br>
<br>
<br>
@if (!deletarCiclo && pedirNome) {
  <app-ciclo [name]="name" [valorInicial]="valor"/> 
} 
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>

<app-root-cf />
<br><br>
<app-menu-shop />

<app-check-simple />

<router-outlet></router-outlet>
