<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a (click)="onHome()" (keyup.enter)="onHome()" class="nav-link active" tabindex="0">Home</a>
        </li>
        <li class="nav-item">
          <a (click)="onFeature()" (keyup.enter)="onFeature()" class="nav-link active" tabindex="0" class="nav-link">Features</a>
        </li>
        <li class="nav-item"> 
          <a (click)="onPricing()" (keyup.enter)="onPricing()" class="nav-link active" tabindex="0" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  @switch (aba) {
      @case('home') {
        <p>Modo HOME ativado!</p>
      }
      @case('feature') {
        <p>Modo FEATURE ativado!</p>
      }
      @case('pricing') {
        <p>Modo PRICING ativado!</p>
      }
  }
</div>


<p>Paragrafo de respiro!</p>


<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
